.casingOutmostContainer{
    height: 50rem;
    width: 60rem;

    display: flex;
}

.mediaContainer{
    height: 100%;
    width: 35rem;

    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    background-color: black;
}

/* The CSS Scroll Snap(to break or be broken suddenly) functionality gives us a way to snap scrolling to certain points as the customer scrolls through a document. This can be helpful in creating a more app-like experience on mobile or even on the desktop for some types of applications */

/* 
    scroll-snap-type: This property is used on the scroll container to specify the type and direction of scrolling.
    scroll-snap-align: This property must be used on child elements in order to specify the position that scrolling will snap to.
 */

/* The scrollbar-width property is used to set the width or thickness of an element's scrollbar when shown */

.metadataContainer{
    height: 100%;
    width: 25rem;
}