.metadataOutmostContainer{
    height: 100%;
    width: 100%;

    background-color: black;
}

.proprietorContainer{
    height: 3.5rem;
    width: 100%;

    display: flex;
    align-items: center;
}

.identifierElement{
    margin: 0rem 1.5rem;

    color: white;
}

.perceptionCatalogue{
    height: calc(100% - 12.5rem);
    width: 100%;

    overflow: auto;

    padding: 1rem 0rem;
}

.admireContainer{
    height: 3.5rem;
    width: 100%;

    display: flex;
    align-items: center;
}

.admirePortrayalElement{
    color: white;
}

.admirePortrayalMaintainance{
    color: red;
}

.admireComputationElement{
    color: white;

    margin: 0rem 1.5rem;
}

.stampPortrayalContainer{
    height: 2rem;
    width: 100%;

    display: flex;
    align-items: center;

    color: white;
}

.perceptionPortrayalContainer{
    height: 3.5rem;
    width: 100%;

    display: flex;
}

.perceptionPortrayalElement{
    outline: none;
    border: none;

    background-color: black;
    color: white;

    display: flex;
    align-items: center;

    padding: 0rem 0.2rem;

    height: 100%;
    width: 70%;
}

.perceptionPortrayalRetention{
    height: 100%;
    width: 30%;

    border-radius: 0rem !important;

    background-color: black !important;
    color: white !important;
}

/* In most browsers, the placeholder text color is grey. To mutate this, design the placeholder with the unusual ( ::placeholder selector --> Represent, input HTML element, placeholder ). Note that, Firefox add a lower opacity to the placeholder, so we use ( opacity : 1 ) to fix opacity issue */

