.profileOutmostContainer{
    height: 100vh;
    width: 100vw;
    
    display: flex;
}

.profileOutmostContainer .metadataContainer{
    height: 100vh;
    width: calc(100vw - 20rem);

    position: absolute;
    left: 20rem;

    display: flex;
    justify-content: center;
}

.portraitContainer{
    height: 100%;
    width: 17.5rem;
    display: flex;
    justify-content: center;
}

.portraitContainer img{
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 4.75rem;
    margin-top: 2.5rem;
}

.rightMetadataContainer{
    height: 10rem;
    width: 22.5rem;
    margin-top: 1.75rem;
}

.topRowMetadata{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profileIdentifierElement h1{
    font-size: 1.75rem;
    padding-top: 0.3rem
}

.mutateMetadata button{
    border: none;
    outline: none;
    width: 5.75rem;
    border-radius: 0.3rem;
}

.numericMetadata{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}

.childrenElement h1{
    font-size: 1.1rem;
}

.baseRowMetadata{
    height: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.baseRowMetadata h1{
    text-align: center;
}