.bannerElement{
    height: 40rem;
    width: 100vw;
    overflow: hidden;
}

/* The overflow-x property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the left and right edges */

.bannerImageElement{
    height: 40rem;
    width: 100%;
}

.bannerMetadataClosure{
    position: relative;
    top: -14rem;
    left: 5rem;
    color: white;
}

/* position: absolute --> Element removal, document flow */

.bannerTitleElement{
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* padding : y(top,bottom) x(left,right) --> Short-hand */

.bannerMetadataElement{
    font-size: 1.25rem;
}