
/* box-sizing : border-box --> Element dimension = content dimension + padding dimension + border dimension */

.navbarElement{
    display: flex;
    height: 6rem;
    /* background-color: lightcoral; */
    color: seagreen;
    align-items: center;
}

/* rem --> 1rem = 1 * html tag's font size */

.exploreElement{
    margin: 2rem;
    font-size: 2.5rem;
}

.preferElement{
    margin: 1.5rem;
}